 <!-- <%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%= list_tile %> </h1>
    </div>

    
    <div class="box">

    <% listitems.forEach(function(item){ %>
        <div class="item">
            <input type="checkbox">
           <p><%= item.name %></p>
         </div>
    <%  }) %>

 
    <form class="item" action="/" method="post">
        <input type="text" name="itemName" placeholder="itemName" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
    </div>

<%- include("footer") -%> -->

<!-- <%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%= list_tile %> </h1>
    </div>

    
    <div class="box">

    <% listitems.forEach(function(item){ %>
        <div class="item">
            <input type="checkbox">
           <p><%= item.name %></p>
         </div>
    <%  }) %>

 
    <form class="item" action="/" method="post">
        <input type="hidden" name="itemName" value="<%= itemName %>">
        <input type="text" name="itemName" placeholder="itemName" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
    </div>

<%- include("footer") -%> -->